Options -Indexes
php_flag magic_quotes_gpc Off
php_flag register_globals Off
RewriteEngine on

RewriteRule ^([A-Za-z]+)/?$ index.php?c=$1
RewriteRule ^assets/(.+)/?$ assets/$1
RewriteRule ^ajax/([A-Za-z_]+)/?$ ajax.php?q=$1